body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 5%
}

.container {
    padding-right: 10px;
    padding-left: 10px
}

#its-jumbo-time {
    color: white; 
    background-image: url(https://newgrassroots.com/wp-content/themes/cosmic_bones/library/images/ngr-home-background.jpg); 
    border-radius: 0
}

.btn-outline-success {
    background-color: #8daf8d;
    border-color: #708c70;
    color: white
}

.btn-outline-success:hover {
    border-color: #708c70;
    background-color: #546954;
    color: white
}

h6 {
    padding-top: 5px;
}

form {
    padding-top: 5px;
    padding-bottom: 22px;
    width: 100%;
}

#its-search-result-time {
}

#its-card-time {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

#its-footer-time {
    background-color: #8daf8d;
    color: white;
}