body {
  background-image: url("https://newgrassroots.com/wp-content/themes/cosmic_bones/library/images/site-logo.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #8daf8d;
}

.billDisplayWrapper {
  margin-top: 1em;
}

.billDisplay {
  border: 1px solid #c7c7c7;
  background: white;
  max-width: 235px;
  min-width: 200px;
  max-height: 75px;
  min-height: 50px;
  margin-top: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.billDisplay:hover {
  background: rgb(230, 224, 224);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
